{% load static %}
<!DOCTYPE HTML>
<html>
<head>
	<title>Ghibli Studios</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{% static 'core/index.css' %}" />
</head>
<body>
	<div class="layer">
		<!-- Header -->
		<header id="header">
			<div class="inner">
				<a href="index.html" class="logo"><strong></strong></a>

				<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
			</div>
		</header>

		<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<header>
					<h1>Ghibli Studios Index</h1>
				</header>

				<div class="flex ">

					<div>
						<span class="icon fa-car"></span>
						<a href="people" class="button">People</a>
					</div>

					<div>
						<span class="icon fa-camera"></span>
						<a href="films" class="button">Films</a>
					</div>

					<div>
						<span class="icon fa-bug"></span>
						<a href="species" class="button">Species</a>
					</div>

				</div>

			</div>
		</section>
	</div>



</body>
</html>