{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Ghibli Studio | Species </title>
    <link rel="stylesheet" href="{% static 'core/species.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
    </style>
</head>
<body>
    <div class="header">
    </div>
    <div class="wrap">
        <header><img src="https://upload.wikimedia.org/wikipedia/sco/c/ca/Studio_Ghibli_logo.svg" alt="logo"></header>
        <form action='/species' method="POST">
            {% csrf_token %}
            <input type="text" name="search" class="searchTerm" placeholder="Type character name, classification" required>
            <button type="submit"></button>
        </form>
        {% if species %}
        {% for s in species %}
        <section>
        <h4>{{s.Name}}</h4>
        <p>Classification: <b>{{s.Classification}}</b></p>
        <p>Eye color: <b>{{ s.Eye_Colors }}</b></p>
        <p>Hair color: <b>{{s.Hair_Colors}}</b></p>
        </section>
        {% endfor %}
        {% endif %}
        </div>
    </body>
    </html>
