body {
    font-family: Dosis, sans-serif;
    background: rgba(238, 130, 238, 0.2);
    background: url(https://scontent.faep8-2.fna.fbcdn.net/v/t1.0-9/s960x960/32156182_2036155880037862_2964081141423800320_o.jpg?_nc_cat=109&_nc_sid=730e14&_nc_ohc=qnNDl5AQNMQAX-RAzyE&_nc_ht=scontent.faep8-2.fna&_nc_tp=7&oh=e2b12295dfffc760f50103536a685dce&oe=5F690992) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

header {
    margin: 5vh auto;
    height: 35vh;
}

    header img {
        height: 100%;
        width: auto;
    }

input {
    background: rgba(238, 130, 238, 0.2);
    box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.3);
    border: 1px solid #edf;
    border-radius: 30px;
    padding: 15px;
    min-width: 300px;
    width: 30%;
    outline: 0;
    margin: 2vh auto;
}

    input:focus {
        background: rgba(255, 35, 126, 0.2);
    }



::placeholder {
    color: #eeeeee;
}

[type=submit] {
    height: 15px;
    width: 15px;
    margin: 0 auto;
    display: block;
    outline: 0;
    border: 0;
    border-radius: 50%;
    background: rgba(238, 130, 238, 0.2);
}

h4 {
    background: rgba(16, 160, 203, 0.8);
    border-radius: 10px 10px 0 0;
    margin: 0 0 20px;
    padding: 15px;
    font-size: 1.5em;
    color: #fff;
}

section {
    width: 300px;
    margin: 2vw;
    padding: 0 0 20px;
    display: inline-block;
    background: #F2F4F4;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: #3c3838;
}

    section b {
        color: #2d6dff;
        font-size: 1.1em;
    }

p {
    margin: 5px;
}
